**/__pycache__/
**/.env
**/.mypy_cache/
**/node_modules/
**/static/

**/*.sqlite

open-webui/
ollama-webui/
data/
ollama/

# deployments
deployments/**/data/
!deployments/multiple-ragapps/data/traefik
deployments/**/ollama/
